<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="canonical" href=" { { site.url } }{ { page.url } }" />
       
    <script type="text/javascript">
        var host = "saswatpanda.net";
        if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https";
     </script>

   <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NWZKX67');</script>
   <!-- End Google Tag Manager -->
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
    
  </head>


  <body>
   <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWZKX67"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   <!-- End Google Tag Manager (noscript) -->
    
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/projects">Work</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
   <li><a href="mailto:saswat.panda@gmail.com">email me</a></li>
   <li><a href="https://github.com/saswat">github.com/saswat</a></li>
   </ul>
  </footer>
  </body>

</html>
